.header {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  background: #151719;
  color: #ffffff;
}

.header__title,
.header__nav {
  margin: 0;
  padding: 0;
}

.header__nav {
  display: flex;
}

.header__nav-link {
  margin: 0.3em 0.5em 0;
  color: #ffffff;
  font-size: 1.5em;
  text-decoration: none;
}

.header__nav-link:hover {
  border-bottom: 5px solid #ffffff;
}
